/* Since the save action will take place when the post is saved, this CSS hides the save button on post edit pages, to avoid confusion. */

.voce-post-meta-widget-drop .widget-sortables {
	min-height:0px;
}

.voce-post-meta-widget-drop .widget-placeholder {
	width:100%;
}


/* the hidden id uses underscores */

#voce_widgets_hidden, .voce-hide-me {
	display:none !important;
}

.voce-post-meta-widget-wrap div.widgets-sortables {
	min-height:100px;
	height:100%;
	width:90%;
	background:#FCFCFC;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #DFDFDF;
	border-radius: 3px;
	margin: 5px 0;
	padding: 10px 10px;

}

.voce-post-meta-widget-drop {
	margin-top:15px;
}
